* {
    box-sizing: border-box;
}
body {
    background-image: linear-gradient(to right,#96fbc4 0%, #f9f586 100%);
}

a {
    text-decoration: none;
}

a:visited {
    color: black;
}

a:link {
    color: black;
}